In [ ]:
# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In [ ]:
## In this notebook, Data Science Tools and Ecosystem are summarized.

## In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java

### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java

In [ ]:
### Objectives:
- Know and understand the different categories of data science tools
- Get Familiarize with the popular languages for data science such as Python, SQL and R
- Learn the basics of Jupyter Notebooks

### Objectives:
- Know and understand the different categories of data science tools
- Get Familiarize with the popular languages for data science such as Python, SQL and R
- Learn the basics of Jupyter Notebooks

In [ ]:
### Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Matplotlib
- Pandas

### Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Matplotlib
- Pandas

In [ ]:
| Data Science Tools |
| ------------ |
| Jupyter Notebooks |
| Microsoft Excel |
| Tableau |
| Scikit-learn |

| Data Science Tools |
| ------------ |
| Jupyter Notebooks |
| Microsoft Excel |
| Tableau |
| Scikit-learn |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python
#### addition operation
2 + 2
#### multiplication operation
5 * 3

### Below are a few examples of evaluating arithmetic expressions in Python
#### addition operation
2 + 2
#### multiplication operation
5 * 3

In [7]:
### This a simple arithmetic expression to mutiply then add integers
#### (3*4)+5
(3*4)+5

17

In [10]:
### This will convert 200 minutes to hours by diving by 60
(200)/60

3.3333333333333335

In [11]:
## Author
## Franzelino Abella

## Author
## Franzelino Abella